<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Architect Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}">
</head>
<body>
<div class="container">
    <div class="text-center">

        <h1 class="welcome">WELCOME TO ARCHITECT</h1>

        <div class="info" >Welcome to the Architect Registration Application!</div>

        <div class="info" >Get started by signing up.</div>

        <div>
            <a class="button" th:href="@{/user/register}">Click here to register</a>
        </div>
    </div>
</div>
</body>
</html>